<div class="container">
<div id="store" class="row">

  {{#each brands}}

  <div class="col-md-4">
<br><br>
    <div class="product">

      <div class="product-body" id="prod12">
        <!-- <h5 class="product-category"> {{this.id}} </h4> -->
        <h3 class="product-name" style="font-size:30px;color:blue;"><a href=#>{{this.name}}</a></h3>
        <h4 class="product-price" style="color:black;font-size:15px;"> {{this.description}} </h4>

      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>


 <!-- <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-2">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title"><b>Brands</b> </h3>
			 			</div>
              {{#each brandnames}}
			 			<div class="panel-body">
			    			<h5><b>{{this.id}} - {{this.name}}</b></h5>
                <h6>{{this.description}}</h5>
			    	</div>
            {{/each}}
	    		</div>
    		</div>
    	</div>
    </div> -->
