
 <!-- {{#if published}}
{{content}}
{{/if}}
<ul>
{{#each people}}
 <li>{{this.lastName}} {{this.firstName}}</li>
{{/each}}
</ul>  -->



  <div class="row">
    <!-- shop -->
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img src="/images/shop01.png" alt="">
        </div>
        <div class="shop-body">
          <h3>Laptop<br>Collection</h3>
          <a href="#" class="cta-btn">Shop now </a>
        </div>
      </div>
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img src="/images/shop03.png" alt="">
        </div>
        <div class="shop-body">
          <h3>Accessories<br>Collection</h3>
          <a href="#" class="cta-btn">Shop now </i></a>
        </div>
      </div>
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img src="/images/shop02.png" alt="">
        </div>
        <div class="shop-body">
          <h3>Smartphone<br>Collection</h3>
          <a href="#" class="cta-btn">Shop now </i></a>
        </div>
      </div>
    </div>
    <!-- /shop -->
  </div>
  <!-- /row -->



<!-- STORE -->
<div class="container">

  <!-- ASIDE -->
  <div id="aside" class="col-md-3">
    <!-- aside Widget -->
    <div class="aside">
      <h3 class="aside-title">Categories</h3>
      <div class="checkbox-filter">

        <div class="input-checkbox">
          <input type="checkbox" id="category-1">
          <label for="category-1">
            <span></span>
            Laptop
            <small>(120)</small>
          </label>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="category-2">
          <label for="category-2">
            <span></span>
            Speaker
            <small>(740)</small>
          </label>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="category-3">
          <label for="category-3">
            <span></span>
            Smartphone
            <small>(1450)</small>
          </label>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="category-4">
          <label for="category-4">
            <span></span>
            Action Camera
            <small>(578)</small>
          </label>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="category-5">
          <label for="category-5">
            <span></span>
            Smart TV
            <small>(120)</small>
          </label>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="category-6">
          <label for="category-6">
            <span></span>
            Speaker
            <small>(740)</small>
          </label>
        </div>
      </div>
    </div>
    <!-- /aside Widget -->


    <!-- /aside Widget -->

    <!-- aside Widget -->
    <div class="aside">
      <h3 class="aside-title">Brand</h3>
      <div class="checkbox-filter">
        <div class="input-checkbox">
          <input type="checkbox" id="brand-1">
          <label for="brand-1">
            <span></span>
            ASUS
            <small>(578)</small>
          </label>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="brand-2">
          <label for="brand-2">
            <span></span>
            HUAWEI
            <small>(125)</small>
          </label>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="brand-3">
          <label for="brand-3">
            <span></span>
            JBL
            <small>(755)</small>
          </label>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="brand-4">
          <label for="brand-4">
            <span></span>
            NIKON
            <small>(578)</small>
          </label>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="brand-5">
          <label for="brand-5">
            <span></span>
            CANON
            <small>(125)</small>
          </label>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="brand-6">
          <label for="brand-6">
            <span></span>
            SANDISK
            <small>(755)</small>
          </label>
        </div>
      </div>
    </div>
    <!-- /aside Widget -->

    <!-- aside Widget -->
    <div class="aside">
      <h3 class="aside-title">Top selling</h3>
      <div class="product-widget">
        <div class="product-img">
          <img src="http://www.romoss.com/wp-content/uploads/2017/05/23-sense-6P-1.jpg" alt="">
        </div>
        <div class="product-body">
          <p class="product-category">Powerbank</p>
          <h3 class="product-name"><a href="#">ROMOSS Sense 6P</a></h3>
          <h4 class="product-price">₱869.00 <del class="product-old-price">₱990.00</del></h4>
        </div>
      </div>

      <div class="product-widget">
        <div class="product-img">
          <img src="/images/xbox.jpg" alt="">
        </div>
        <div class="product-body">
          <p class="product-category">Game Console</p>
          <h3 class="product-name"><a href="#">XBOX ONE Wireless Controller</a></h3>
          <h4 class="product-price">₱2695.00 <del class="product-old-price">₱3990.00</del></h4>
        </div>
      </div>

      <div class="product-widget">
        <div class="product-img">
          <img src="/images/switch.jpg" alt="">
        </div>
        <div class="product-body">
          <p class="product-category">Game Console</p>
          <h3 class="product-name"><a href="#">Nintendo Switch</a></h3>
          <h4 class="product-price">₱15000.00 <del class="product-old-price">₱15500.00</del></h4>
        </div>
      </div>
    </div>
    <!-- /aside Widget -->
  </div>
  <!-- /ASIDE -->
					<div id="store" class="row">
            {{#each rows}}
						<!-- store products -->
							<!-- product -->
							<div class="col-md-4">
								<div class="product">
									<div class="product-img">
										<img src={{this.images}} alt="">

									</div>
									<div class="product-body">
										<p class="product-category">Product ID: {{this.id}}</p>
										<h3 class="product-name" id="product1"><a href="/products/{{this.id}}">{{this.product_name}}</a></h3>
										<h4 class="product-price"> ₱{{this.price}}.00 </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>

									</div>
									<div class="add-to-cart" id="order22">
										<button class="btn-btn-info"><i class="fa fa-shopping-cart"></i> <a href="/products/{{this.id}}">Select Product</a></button>
									</div>
								</div>
							</div>
							<!-- /product -->

						<!-- /store products -->
            {{/each}}
					</div>
					<!-- /STORE -->


</div>


<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->
