
 <!-- {{#if published}}
{{content}}
{{/if}}


<ul>
{{#each people}}
 <li>{{this.lastName}} {{this.firstName}}</li>

{{/each}}
</ul>  -->



  <div class="row">
    <!-- shop -->
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img src="/images/shop01.png" alt="">
        </div>
        <div class="shop-body">
          <h3>Laptop<br>Collection</h3>
          <a href="#" class="cta-btn">Shop now </a>
        </div>
      </div>
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img src="/images/shop03.png" alt="">
        </div>
        <div class="shop-body">
          <h3>Accessories<br>Collection</h3>
          <a href="#" class="cta-btn">Shop now </i></a>
        </div>
      </div>
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img src="/images/shop02.png" alt="">
        </div>
        <div class="shop-body">
          <h3>Smartphone<br>Collection</h3>
          <a href="#" class="cta-btn">Shop now </i></a>
        </div>
      </div>
    </div>
    <!-- /shop -->
  </div>
  <!-- /row -->



<!-- STORE -->
<div class="container">

					<div id="store" class="row">
            {{#each rows}}
						<!-- store products -->
							<!-- product -->
							<div class="col-md-4">
								<div class="product">
									<div class="product-img">
										<img src={{this.images}} alt="">

									</div>
									<div class="product-body">
										<p class="product-category">Product ID: {{this.id}}</p>
										<h3 class="product-name" id="product1"><a href="/products/{{this.id}}">{{this.product_name}}</a></h3>
										<h4 class="product-price"> ₱{{this.price}}.00 </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>

									</div>
									<div class="add-to-cart" id="order22">
										<button class="btn-btn-info"><i class="fa fa-shopping-cart"></i> <a href="/products/{{this.id}}">Select Product</a></button>
									</div>
								</div>
							</div>
							<!-- /product -->

						<!-- /store products -->
            {{/each}}
					</div>
					<!-- /STORE -->


</div>


<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->
