<!-- SECTION -->

	<div class="section">
      	{{#each data}}
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push--1">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{this.images}}" alt="">
							</div>
						</div>
					</div>
				<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name" style="font-weight:bold;">{{this.product_name}}</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div>
								<h3 class="product-price">₱{{this.price}}.00 </h3>

							</div>
							<p style="font-size:15px;">{{this.product_description}}</p>

							<ul class="product-links">
								<li><a href="/categories">Category:</a></li>
								<li>{{this.catname}}</li>
								<li><a href="/brands">Brand:</a></li>
								<li>{{this.bname}}</li>
							</ul>

              <div class="product-options">
              <label>
                Product ID:
                <input type="text" id="myInput" value="{{this.id}}" class="form-control" required="" readonly="">
                <button onclick="myFunction()"><h5>Click to copy Product ID</h5></button>
              </label>
              </div>

							<div class="product-options">
									<p style="font-size:15px;">{{this.tagline}}</p>
							</div>



							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a href="/contact"> Order</a></button>
							</div>

							{{/each}}


							<div class="add-to-cart">
								{{#each data}}
									<form method="GET" action="/product/update/{{this.id}}">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Update</button>
							</form>
							{{/each}}
							</div>

							<ul class="product-links">
								<li>Share:</li>
								<li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.googleplus.com"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://www.gmail.com"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
